.root {
    -fx-background-color: white;
}

.form-title {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.calendar-day-pane {
    -fx-border-color: lightgrey;
    -fx-font-weight: bold;
}

.calendar-item-pane {
    -fx-border-color: lightgrey;
}


#deleteShiftButton {
    -fx-background-color: #ecebe9,
    rgba(0, 0, 0, 0.05),
    red;
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#deleteShiftButton:hover {
    -fx-background-color: red;
    -fx-background-insets: 0, 9 9 8 9, 9, 0, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#deleteShiftButton Text {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.5), 0, 0.0, 0, 1);
}

#modifyShiftButton {
    -fx-background-color: #ecebe9,
    rgba(0, 0, 0, 0.05),
    yellow;
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#modifyShiftButton:hover {
    -fx-background-color: yellow;
    -fx-background-insets: 0, 9 9 8 9, 9, 0, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#modifyShiftButton Text {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.5), 0, 0.0, 0, 1);
}

#confirmButton {
    -fx-background-color: #ecebe9,
    rgba(0, 0, 0, 0.05),
    #58ff00;
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#confirmButton:hover {
    -fx-background-color: #58ff00;
    -fx-background-insets: 0, 9 9 8 9, 9, 0, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#confirmButton Text {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.5), 0, 0.0, 0, 1);
}

#cancelButton {
    -fx-background-color: #ecebe9,
    rgba(0, 0, 0, 0.05),
    lightgrey;
    -fx-background-insets: 0, 9 9 8 9, 9, 10, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#cancelButton:hover {
    -fx-background-color: lightgrey;
    -fx-background-insets: 0, 9 9 8 9, 9, 0, 11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 0, 1);
}

#cancelButton Text {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.5), 0, 0.0, 0, 1);
}


#addButton {
    -fx-text-fill: green;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color: green;
    -fx-background-color: null;
}

#addButton:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#nextButton {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-background-color: null;
}

#nextButton:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#previousButton {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-background-color: null;
}

#previousButton:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#todayButton {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-background-color: null;
}

#todayButton:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.table-view .column-header-background {
    -fx-background-color: #4f9d42;
}

.table-view .column-header, .table-view .filler {

    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-alignment: center;
}


.table-cell {

    -fx-padding: 1em 0em 0.1em 0.1em;

}

.table-row-cell:empty {
    -fx-background-color: #f8f8f8;
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.combo-box {
    -fx-border-color: #E6E6E6;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.combo-box .arrow {
    -fx-background-color: #2478E9;
}

.combo-box .arrow-button {
    -fx-background-color: white;
    -fx-border-style: none;
}

.combo-box .arrow-button {
    -fx-background-color: white;
}



