.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    margin: 0;
    display:  block;
}

.card-front {
    transform: rotateY(0deg);

}
.card-body {
    background-color: transparent;

}
.card {
    background-color: transparent;
    border-color: transparent;
    font-size: medium;
    border-radius: 10px;

}
.h6{
    font-size: small;
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;

}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.containers:hover .overlay {
    bottom: 0;
    height: 100%;
}

.form-payment {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}
