<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="styleIvan.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Getting Started: Serving Web Content</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="background-color: black">
<div th:include="navbar :: navbar"></div>
<div class="container" style="color: aliceblue">
    <div class="row ">
        <div class="col-md-12 text-center mt-3">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">View of the seats </h1>
                <p class="lead font-weight-normal">Select the place you like the most, don't hesitate to ask for some
                    extras .</p>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
        <!--Checkbox-->
        <div class="col-12">
            <h3>Additional options: </h3>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-7">
                            <label for="c1"></label><input id="c1" type="checkbox">
                            Skip line, with this option you can skip the initial waiting line
                        </div>
                        <div class="col-1">
                            <p style="color: red"> + 1€</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-7">
                            <label for="c2"></label><input id="c2" type="checkbox">
                            Open bar, with this option you will get a full meal (food, drinks) for one person
                        </div>
                        <div class="col-1">
                            <p style="color: red">
                                + 10€</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-7">
                            <label for="c3"></label><input id="c3" type="checkbox">
                            Magic Box, with this option you will get a gadget of the typical objects of the film

                        </div>
                        <div class="col-1">
                            <p style="color: red"> + 15€</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-5 p-2" style="background-color: #1b1b1b;border-color: #6d6d6d">
            <div class="container mt-5 mb-5">
                <div class="row">
                    <!--/Checkbox-->
                    <div class="card p-2 m-2 justify-content-center"
                         style="background-color: #000000;border-color: #6d6d6d"
                         th:each="_seat,inter : ${seatList}">
                        <div th:if="${_seat.isBooked}">
                            <a id="urlDisable">
                                <div>
                                    <div style="text-align: center;">
                                        <i class="" style="color: #6d6d6d" th:class="${classValue}">event_seat</i>
                                    </div>
                                    <div>SOLD</div>
                                </div>
                            </a>
                        </div>
                        <div th:unless="${_seat.isBooked}">
                            <form action="#" method="post"
                                  onclick="action +='/'+ document.getElementById('c1').checked+'/'+ document.getElementById('c2').checked+'/'+ document.getElementById('c3').checked"
                                  th:action="@{/payment}"
                                  th:object="${payment_form}">
                                <input th:name="cinema.id" th:value="${payment_form.cinema.id}" type="hidden"/>
                                <input th:name="cinema.name" th:value="${payment_form.cinema.name}" type="hidden"/>
                                <input th:name="cinema.address" th:value="${payment_form.cinema.address}"
                                       type="hidden"/>
                                <input th:name="cinema.city" th:value="${payment_form.cinema.city}" type="hidden"/>
                                <input th:name="movie.id" th:value="${payment_form.movie.id}" type="hidden"/>
                                <input th:name="movie.name" th:value="${payment_form.movie.name}" type="hidden"/>
                                <input th:name="movie.overview" th:value="${payment_form.movie.overview}"
                                       type="hidden"/>
                                <input th:name="movie.movieUrl" th:value="${payment_form.movie.movieUrl}"
                                       type="hidden"/>
                                <input th:name="movie.vote" th:value="${payment_form.movie.vote}" type="hidden"/>
                                <input th:name="movie.releases" th:value="${payment_form.movie.releases}"
                                       type="hidden"/>
                                <input th:name="date" th:value="${payment_form.date}" type="hidden"/>
                                <input th:name="projection.id" th:value="${payment_form.projection.id}" type="hidden"/>
                                <input th:name="projection.date" th:value="${payment_form.projection.date}"
                                       type="hidden"/>
                                <input th:name="projection.startTime" th:value="${payment_form.projection.startTime}"
                                       type="hidden"/>
                                <input th:name="projection.hallId" th:value="${payment_form.projection.hallId}"
                                       type="hidden"/>
                                <input th:name="projection.basePrice" th:value="${payment_form.projection.basePrice}"
                                       type="hidden"/>
                                <input th:name="seat.id" th:value="${_seat.id}" type="hidden"/>
                                <input th:name="seat.position" th:value="${_seat.position}" type="hidden"/>
                                <input th:name="seat.isBooked" th:value="${_seat.isBooked}" type="hidden"/>
                                <div class="col-12">
                                    <p id="url">
                                        <i class="" th:class="${classValue}" th:style="${color}">event_seat</i>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div th:text="${_seat.position}">A0</div>
                                </div>
                                <div class="col-12">
                                    <p th:text="${payment_form.projection.basePrice}+'€'"></p>
                                </div>
                                <button class="btn btn-primary" type="submit">Buy
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${error != null}">
        <h3 th:text="${error}"></h3>
    </div>
</div>
<div th:include="footer :: footer"></div>
</body>
</html>