<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="components::meta_content" content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta th:replace="components::meta_viewport" content="width=device-width, initial-scale=1.0" name="viewport">
    <link th:replace="components::Bootstrap_CSS" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <link href="../../static/css/theme.css" rel="stylesheet" th:href="@{/css/theme.css}" type="text/css">
    <link href="../../static/css/styleIvan.css" rel="stylesheet" th:href="@{/css/styleIvan.css}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../static/js/utilities.js" th:src="@{/js/utilities.js}" type="text/javascript"></script>
    <title>Cinehub</title>
</head>
<body>
<nav th:replace="components::navbar"></nav>
<header class="jumbotron banner position-relative mb-5">
    <div class="container">
        <h1 class="jumbotron-title display-2 mt-5">View of the seats</h1>
        <h4 class="jumbotron-subtitle mt-5">Select the place you like the most, don't hesitate to ask for some
            extras.</h4>
    </div>
</header>
<main>
    <div class="container">
        <div class="row ">
            <!--Checkbox-->
            <div class="col-12">
                <h3>Additional options: </h3>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-7">
                                <label for="c1"></label><input id="c1" type="checkbox">
                                Skip line, with this option you can skip the initial waiting line
                            </div>
                            <div class="col-1">
                                <p class="text-danger"> + 1€</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-7">
                                <label for="c2"></label><input id="c2" type="checkbox">
                                Open bar, with this option you will get a full meal (food, drinks) for one person
                            </div>
                            <div class="col-1">
                                <p class="text-danger">
                                    + 10€</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-7">
                                <label for="c3"></label><input id="c3" type="checkbox">
                                Magic Box, with this option you will get a gadget of the typical objects of the film

                            </div>
                            <div class="col-1">
                                <p class="text-danger"> + 15€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-sm-1 m-lg-5-5 p-2">
                <!--/Checkbox-->
                <div class="row justify-content-center">
                    <div class="card p-2 m-2 justify-content-center border-white text-light"
                         th:each="_seat,inter : ${seatList}"
                         style="width: min-content; text-align: center; border-color: white;  background-image: url(https://st.ilfattoquotidiano.it/wp-content/uploads/2020/10/29/cinema1200.jpg);background-position: left">
                        <div th:if="${_seat.isBooked}">
                            <div>SOLD</div>
                        </div>
                        <div th:unless="${_seat.isBooked}">
                            <form action="#" method="post"
                                  onclick="action +='/'+ document.getElementById('c1').checked+'/'+ document.getElementById('c2').checked+'/'+ document.getElementById('c3').checked"
                                  th:action="@{/payment}"
                                  th:object="${payment_form}">
                                <input th:name="cinema.id" th:value="${payment_form.cinema.id}" type="hidden"/>
                                <input th:name="cinema.name" th:value="${payment_form.cinema.name}" type="hidden"/>
                                <input th:name="cinema.address" th:value="${payment_form.cinema.address}"
                                       type="hidden"/>
                                <input th:name="cinema.city" th:value="${payment_form.cinema.city}" type="hidden"/>
                                <input th:name="movie.id" th:value="${payment_form.movie.id}" type="hidden"/>
                                <input th:name="movie.name" th:value="${payment_form.movie.name}" type="hidden"/>
                                <input th:name="movie.overview" th:value="${payment_form.movie.overview}"
                                       type="hidden"/>
                                <input th:name="movie.movieUrl" th:value="${payment_form.movie.movieUrl}"
                                       type="hidden"/>
                                <input th:name="movie.vote" th:value="${payment_form.movie.vote}" type="hidden"/>
                                <input th:name="movie.releases" th:value="${payment_form.movie.releases}"
                                       type="hidden"/>
                                <input th:name="date" th:value="${payment_form.date}" type="hidden"/>
                                <input th:name="projection.id" th:value="${payment_form.projection.id}" type="hidden"/>
                                <input th:name="projection.date" th:value="${payment_form.projection.date}"
                                       type="hidden"/>
                                <input th:name="projection.startTime" th:value="${payment_form.projection.startTime}"
                                       type="hidden"/>
                                <input th:name="projection.hallId" th:value="${payment_form.projection.hallId}"
                                       type="hidden"/>
                                <input th:name="projection.basePrice" th:value="${payment_form.projection.basePrice}"
                                       type="hidden"/>
                                <input th:name="seat.id" th:value="${_seat.id}" type="hidden"/>
                                <input th:name="seat.position" th:value="${_seat.position}" type="hidden"/>
                                <input th:name="seat.isBooked" th:value="${_seat.isBooked}" type="hidden"/>
                                <div class="col-12">
                                    <p id="url">
                                        <i class="material-icons">event_seat</i>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div th:text="${_seat.position}">A0</div>
                                </div>
                                <div class="col-12">
                                    <p th:text="${payment_form.projection.basePrice}+'€'"></p>
                                </div>
                                <button class="btn btn-primary" type="submit">Buy
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:if="${error != null}">
            <h3 th:text="${error}"></h3>
        </div>
    </div>
</main>
<footer th:replace="components::footer"></footer>
<script th:replace="components::Bootstrap_JS" crossorigin="anonymous"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script th:if="false">replace('nav', '../components.html')</script>
<script th:if="false">replace('footer', '../components.html')</script>
</body>
</html>
