<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="components::meta_content" content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta th:replace="components::meta_viewport" content="width=device-width, initial-scale=1.0" name="viewport">
    <link th:replace="components::Bootstrap_CSS" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <link href="../static/css/theme.css" rel="stylesheet" th:href="@{css/theme.css}" type="text/css">
    <link href="../../static/css/styleIvan.css" rel="stylesheet" th:href="@{css/styleIvan.css}" type="text/css">
    <title>Cinehub</title>
</head>
</div>
<body style="font-family: Arial,serif">
<div class="container mt-3">
    <div class="card p-5">
        <h1 class="display-3">Payment With Success</h1>
        <div class="row mt-5">
            <div class="col-3 mt-2">
                <h5>Ticket: </h5>
            </div>
            <div class="col-3 mt-2">
                <p th:text="${payment_form.seat.position}"></p>
            </div>
            <div class="col-3 mt-2">
                <h5>Cinema: </h5>
            </div>
            <div class="col-3 mt-2">
                <p th:text="${payment_form.cinema.name}"></p>
            </div>
            <div class="col-3 mt-2">
                <h5>Movie: </h5>
            </div>
            <div class="col-3 mt-2">
                <p th:text="${payment_form.movie.name}"></p>
            </div>
            <div class="col-3 mt-2">
                <h5>Date: </h5>
            </div>
            <div class="col-3 mt-2">
                <p th:text="${payment_form.date}"></p>
            </div>

            <div class="col-3 mt-2">
                <h5>Screening time: </h5>
            </div>
            <div class="col-3 mt-2">
                <p th:text="${payment_form.projection.startTime}"></p>
            </div>
            <div class="col-3 mt-2">
                <h5>Price(€): </h5>
            </div>
            <div class="col-3 mt-2">
                <p th:text="${ticketDetail.price} "></p>
            </div>
        </div>
        <p class="lead mt-5">
            An email has been sent to the address associated with this account.</p>
        <hr class="my-4">
        <p class="lead m-4"><a class="btn btn-primary btn-lg" href="\choose_movie" role="button">Back to menu</a>
        </p>
    </div>

</div>
<footer th:replace="components::footer" class="text-light pt-md-5 border-top" style="background-color: #343a40;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <h4>Cinehub</h4>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto pt-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md"></div>
                <div class="col-md">
                    <small class="d-block mb-3 text-muted">© 2021–2025</small>
                </div>
                <div class="col-md">
                    <a href="https://github.com/TTBMP">
                        <svg class="bi bi-github" fill="white" height="16" viewBox="0 0 16 16" width="16"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</footer>
<script th:replace="components::Bootstrap_JS" crossorigin="anonymous"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>