<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="styleIvan.css" rel="stylesheet" type="text/css">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script crossorigin="anonymous"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="background-color: black">
<div th:include="navbar :: navbar"></div>
<div class="container-fluid py-3">
    <div class="row ">
        <div class="col-md-12 text-center mt-3">
            <div class="col-md-5  mx-auto my-5">
                <h1 class="display-4 font-weight-normal" style="color: white">Pay ticket</h1>
                <p class="lead font-weight-normal" style="color: white">Enter your payment details .</p>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
            <div class="card" id="pay-invoice" style="background-color: black; color: white">
                <div class="card-body">
                    <form action="#" method="post" th:action="@{/confirm_email}" th:object="${payment_form}">
                        <input th:name="cinema.id" th:value="${payment_form.cinema.id}" type="hidden"/>
                        <input th:name="cinema.name" th:value="${payment_form.cinema.name}" type="hidden"/>
                        <input th:name="cinema.address" th:value="${payment_form.cinema.address}" type="hidden"/>
                        <input th:name="cinema.city" th:value="${payment_form.cinema.city}" type="hidden"/>
                        <input th:name="movie.id" th:value="${payment_form.movie.id}" type="hidden"/>
                        <input th:name="movie.name" th:value="${payment_form.movie.name}" type="hidden"/>
                        <input th:name="movie.overview" th:value="${payment_form.movie.overview}" type="hidden"/>
                        <input th:name="movie.movieUrl" th:value="${payment_form.movie.movieUrl}" type="hidden"/>
                        <input th:name="movie.vote" th:value="${payment_form.movie.vote}" type="hidden"/>
                        <input th:name="movie.releases" th:value="${payment_form.movie.releases}" type="hidden"/>
                        <input th:name="date" th:value="${payment_form.date}" type="hidden"/>
                        <input th:name="projection.id" th:value="${payment_form.projection.id}" type="hidden"/>
                        <input th:name="projection.date" th:value="${payment_form.projection.date}" type="hidden"/>
                        <input th:name="projection.startTime" th:value="${payment_form.projection.startTime}"
                               type="hidden"/>
                        <input th:name="projection.hallId" th:value="${payment_form.projection.hallId}" type="hidden"/>
                        <input th:name="projection.basePrice" th:value="${payment_form.projection.basePrice}"
                               type="hidden"/>
                        <input th:name="seat.id" th:value="${payment_form.seat.id}" type="hidden"/>
                        <input th:name="seat.position" th:value="${payment_form.seat.position}" type="hidden"/>
                        <input th:name="seat.isBooked" th:value="${payment_form.seat.isBooked}" type="hidden"/>
                        <input th:name="option1" th:value="${payment_form.option1}" type="hidden"/>
                        <input th:name="option2" th:value="${payment_form.option2}" type="hidden"/>
                        <input th:name="option3" th:value="${payment_form.option3}" type="hidden"/>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label " for="cc-exp">Number of card</label>
                                    <input autocomplete="off" class="form-control cc-number identified visa"
                                           id="cc-number"
                                           inputmode="numeric"
                                           maxlength="19"
                                           pattern="[0-9\s]{12,16}" placeholder="xxxx xxxx xxxx xxxx" required
                                           th:name="numberCard">
                                    <span class="invalid-feedback">Enter the number of card </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label mb-1" for="cc-exp"
                                    >Expiration</label>
                                    <input autocomplete="cc-exp" class="form-control cc-exp" id="cc-exp" name="cc-exp"
                                           placeholder="MM / YY"
                                           required
                                           th:name="expirationDate"
                                           th:value="${payment_form.expirationDate}" type="date">
                                    <span class="invalid-feedback">Enter the expiration date</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label mb-1" for="cc-exp">CVV</label>
                                    <input autocomplete="cc-exp" class="form-control cc-exp"
                                           id="x_card_code" name="x_card_code"
                                           placeholder="123"
                                           required
                                           th:name="cvv" type="text">
                                    <span class="invalid-feedback">Enter the cvv </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label mb-1" for="cc-exp">Email</label>
                                    <input class="form-control" data-val="true"
                                           data-val-required="Please enter the Promotion  code"
                                           id="form_email" max="20"
                                           name="x_prom" placeholder="email@posta.dominio"
                                           required th:name="email"
                                           type="email">
                                    <span class="invalid-feedback">Enter the email </span>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <button class="btn btn-lg btn-primary mt-4" type="submit">
                                    <span id="payment-button-amount">Pay </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:if="${error != null}">
            <h3 th:text="${error}"></h3>
        </div>
    </div>
</div>
<div th:include="footer :: footer"></div>
</body>
</html>