<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: black" >
<div class="container" style="color: aliceblue">

    <div id="promo">
        <div class="container">
            <div class="jumbotron" style="background-color: #212121">
                <h1 class="display-3" th:text="${result}"></h1>
                <p class="lead">
                    An email has been sent to the address associated with this account.</p>
                <hr class="my-4">
                <div class="row">
                    <div class="col-6">
                        <h4>Ticket: </h4>
                        <h6 th:text="${ticket}"></h6>
                        <h4>Cinema: </h4>
                        <h6 th:text="${cinema}"></h6>
                        <h4>Movie: </h4>
                        <h6 th:text="${movie}"></h6>
                    </div>
                    <div class="col-6">
                        <h4>Date: </h4>
                        <h6 th:text="${date}"></h6>
                        <h4>Screening time: </h4>
                        <h6 th:text="${screening_time}"></h6>
                        <h4>Price: </h4>
                        <h6 th:text="${price}+'€'"></h6>
                    </div>
                </div>
                <p class="lead"> <a href="\choose_movie" class="btn btn-primary btn-lg" role="button">Back to menu</a> </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>