<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Login</h1>
    <form action="#" method="POST" th:action="@{/login}" th:object="${loginForm}">
        <label><input placeholder="email" th:field="*{email}" th:name="email" type="text"/></label>
        <label><input placeholder="password" th:field="*{password}" th:name="password" type="password"/></label>
        <p><input class="btn btn-primary" type="submit" value="Login"/></p>
    </form>
</div>
</body>
</html>
