<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Manage Employee Shift</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>

<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="8.868.0" style="background-color: black ">


<div class="col-md-12 text-center mt-3">
    <h2>Show Shift</h2>
</div>
<div class="row justify-content-center">
    <div class="bg-black col-md-8 order-md-1 text-body">
        <div th:if="${error}">
            <h1 align="center" th:text="${errorText}"></h1>
        </div>

        <form action="#" method="post" th:action="@{/manage_employee_shift}" th:object="${getShiftListRequest}">
            <label>Select Cinema</label>
            <select th:field="*{cinemaId}">
                <option th:each="cinema : ${cinemaList}"
                        th:text="${cinema.name}"
                        th:value="${cinema.id}"></option>
            </select>
            <br/>
            <label>Date</label>
            <input class="form-control it-date-datepicker" id="date" placeholder="Inserisci la data" required
                   th:field="*{start}" th:value="${date}" type="date"/>
            <br/>
            <br/>
            <button class="btn btn-primary btn-lg btn-block" id="search_shift_cinema" type="submit">Search
            </button>
        </form>
        <hr class="mb-4">
        <table class="table table-bordered">
            <thead class="table">
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${shiftList}">

                <td th:if=${employee.key.class.name.equals("com.ttbmp.cinehub.app.dto.ProjectionistDto")}>
                    <div class="container">
                        <div class="row ">
                            <div class="col">
                                <img src="images/employee.jpg">
                            </div>
                            <div class="col">
                                <p th:text=" ${employee.key.name} + ' ' + ${employee.key.surname}"></p>
                                <p th:text="'Role : Projectionist'  "></p>
                            </div>
                        </div>
                    </div>
                </td>
                <td th:unless=${employee.key.class.name.equals("com.ttbmp.cinehub.app.dto.ProjectionistDto")}>
                    <div class="container">
                        <div class="row ">
                            <div class="col">
                                <img src="images/employee.jpg">
                            </div>
                            <div class="col">
                                <p th:text=" ${employee.key.name} + ' ' + ${employee.key.surname}"></p>
                                <p th:text="'Role : Usher'  "></p>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span th:each="shift,indexShift : ${employee.value}">
                        <span th:if=${shift.date.dayOfWeek.toString.equals("MONDAY")}>
                           <form action="shift_detail.html" method="POST" th:action="@{/shift_detail}"
                                 th:object="${selectedShift}">
                              <input th:name="shiftId" th:value="${shift.id}" type="hidden"/>
                                <input th:name="date" th:value="${shift.date}" type="hidden"/>
                                <input th:name="start" th:value="${shift.start}" type="hidden"/>
                                <input th:name="end" th:value="${shift.end}" type="hidden"/>
                                <input th:name="employee.id" th:value="${shift.employee.id}" type="hidden"/>
                                <input th:name="employee.role" th:value="${shift.employee.toString()}" type="hidden"/>
                                <input th:name="employee.name" th:value="${shift.employee.name}" type="hidden"/>
                                <input th:name="employee.surname" th:value="${shift.employee.surname}" type="hidden"/>
                                <input th:name="employee.cinema.id" th:value="${shift.employee.cinema.id}" type="hidden"/>
                                <input th:name="employee.cinema.name" th:value="${shift.employee.cinema.name}" type="hidden"/>
                                <div class="row" th:if="${shift.employee.toString() == 'projectionist'}">
                                    <input th:name="hall.id" th:value="${shift.hallDto.id}" type="hidden"/>
                                     <input th:name="hall.name" th:value="${shift.hallDto.name}" type="hidden"/>
                                </div>
                                <input class="btn btn-outline-primary" th:value="${shift.start + ' - ' + shift.end}" type="submit" value="start - end"/>

                         </form>
                        </span>
                    </span>
                </td>

                <td>
                    <span th:each="shift,indexShift : ${employee.value}">
                        <span th:if=${shift.date.dayOfWeek.toString.equals("TUESDAY")}>
                          <form action="shift_detail.html" method="POST" th:action="@{/shift_detail}"
                                th:object="${selectedShift}">
                             <input th:name="shiftId" th:value="${shift.id}" type="hidden"/>
                                <input th:name="date" th:value="${shift.date}" type="hidden"/>
                                <input th:name="start" th:value="${shift.start}" type="hidden"/>
                                <input th:name="end" th:value="${shift.end}" type="hidden"/>
                                <input th:name="employee.id" th:value="${shift.employee.id}" type="hidden"/>
                                <input th:name="employee.role" th:value="${shift.employee.toString()}" type="hidden"/>
                                <input th:name="employee.name" th:value="${shift.employee.name}" type="hidden"/>
                                <input th:name="employee.surname" th:value="${shift.employee.surname}" type="hidden"/>
                                <input th:name="employee.cinema.id" th:value="${shift.employee.cinema.id}" type="hidden"/>
                                <input th:name="employee.cinema.name" th:value="${shift.employee.cinema.name}" type="hidden"/>
                                <div class="row" th:if="${shift.employee.toString() == 'projectionist'}">
                                    <input th:name="hall.id" th:value="${shift.hallDto.id}" type="hidden"/>
                                     <input th:name="hall.name" th:value="${shift.hallDto.name}" type="hidden"/>
                                </div>
                                <input class="btn btn-outline-primary" th:value="${shift.start + ' - ' + shift.end}" type="submit" value="start - end"/>

                         </form>
                        </span>
                    </span>
                </td>

                <td>
                    <span th:each="shift,indexShift : ${employee.value}">
                        <span th:if=${shift.date.dayOfWeek.toString.equals("WEDNESDAY")}>
                       <form action="shift_detail.html" method="POST" th:action="@{/shift_detail}"
                             th:object="${selectedShift}">
                               <input th:name="shiftId" th:value="${shift.id}" type="hidden"/>
                                <input th:name="date" th:value="${shift.date}" type="hidden"/>
                                <input th:name="start" th:value="${shift.start}" type="hidden"/>
                                <input th:name="end" th:value="${shift.end}" type="hidden"/>
                                <input th:name="employee.id" th:value="${shift.employee.id}" type="hidden"/>
                                <input th:name="employee.role" th:value="${shift.employee.toString()}" type="hidden"/>
                                <input th:name="employee.name" th:value="${shift.employee.name}" type="hidden"/>
                                <input th:name="employee.surname" th:value="${shift.employee.surname}" type="hidden"/>
                                <input th:name="employee.cinema.id" th:value="${shift.employee.cinema.id}" type="hidden"/>
                                <input th:name="employee.cinema.name" th:value="${shift.employee.cinema.name}" type="hidden"/>
                                <div class="row" th:if="${shift.employee.toString() == 'projectionist'}">
                                    <input th:name="hall.id" th:value="${shift.hallDto.id}" type="hidden"/>
                                    <input th:name="hall.name" th:value="${shift.hallDto.name}" type="hidden"/>
                                </div>
                                <input class="btn btn-outline-primary" th:value="${shift.start + ' - ' + shift.end}" type="submit" value="start - end"/>

                         </form>
                        </span>
                    </span>
                </td>
                <td>
                    <span th:each="shift,indexShift : ${employee.value}">
                        <span th:if=${shift.date.dayOfWeek.toString.equals("THURSDAY")}>
                     <form action="shift_detail.html" method="POST" th:action="@{/shift_detail}"
                           th:object="${selectedShift}">
                               <input th:name="shiftId" th:value="${shift.id}" type="hidden"/>
                                <input th:name="date" th:value="${shift.date}" type="hidden"/>
                                <input th:name="start" th:value="${shift.start}" type="hidden"/>
                                <input th:name="end" th:value="${shift.end}" type="hidden"/>
                                <input th:name="employee.id" th:value="${shift.employee.id}" type="hidden"/>
                                <input th:name="employee.role" th:value="${shift.employee.toString()}" type="hidden"/>
                                <input th:name="employee.name" th:value="${shift.employee.name}" type="hidden"/>
                                <input th:name="employee.surname" th:value="${shift.employee.surname}" type="hidden"/>
                                <input th:name="employee.cinema.id" th:value="${shift.employee.cinema.id}" type="hidden"/>
                                <input th:name="employee.cinema.name" th:value="${shift.employee.cinema.name}" type="hidden"/>
                                <div class="row" th:if="${shift.employee.toString() == 'projectionist'}">
                                    <input th:name="hall.id" th:value="${shift.hallDto.id}" type="hidden"/>
                                     <input th:name="hall.name" th:value="${shift.hallDto.name}" type="hidden"/>
                                </div>
                                <input class="btn btn-outline-primary" th:value="${shift.start + ' - ' + shift.end}" type="submit" value="start - end"/>

                         </form>
                        </span>
                    </span>
                </td>
                <td>
                    <span th:each="shift,indexShift : ${employee.value}">
                        <span th:if=${shift.date.dayOfWeek.toString.equals("FRIDAY")}>
                        <form action="shift_detail.html" method="POST" th:action="@{/shift_detail}"
                              th:object="${selectedShift}">
                               <input th:name="shiftId" th:value="${shift.id}" type="hidden"/>
                                <input th:name="date" th:value="${shift.date}" type="hidden"/>
                                <input th:name="start" th:value="${shift.start}" type="hidden"/>
                                <input th:name="end" th:value="${shift.end}" type="hidden"/>
                                <input th:name="employee.id" th:value="${shift.employee.id}" type="hidden"/>
                                <input th:name="employee.role" th:value="${shift.employee.toString()}" type="hidden"/>
                                <input th:name="employee.name" th:value="${shift.employee.name}" type="hidden"/>
                                <input th:name="employee.surname" th:value="${shift.employee.surname}" type="hidden"/>
                                <input th:name="employee.cinema.id" th:value="${shift.employee.cinema.id}" type="hidden"/>
                                <input th:name="employee.cinema.name" th:value="${shift.employee.cinema.name}" type="hidden"/>
                                <div class="row" th:if="${shift.employee.toString() == 'projectionist'}">
                                    <input th:name="hall.id" th:value="${shift.hallDto.id}" type="hidden"/>
                                     <input th:name="hall.name" th:value="${shift.hallDto.name}" type="hidden"/>
                                </div>
                                <input class="btn btn-outline-primary" th:value="${shift.start + ' - ' + shift.end}" type="submit" value="start - end"/>
                         </form>
                        </span>
                    </span>
                </td>
                <td>
                    <span th:each="shift,indexShift : ${employee.value}">
                        <span th:if=${shift.date.dayOfWeek.toString.equals("SATURDAY")}>
                     <form action="shift_detail.html" method="POST" th:action="@{/shift_detail}"
                           th:object="${selectedShift}">
                                <input th:name="shiftId" th:value="${shift.id}" type="hidden"/>
                                <input th:name="date" th:value="${shift.date}" type="hidden"/>
                                <input th:name="start" th:value="${shift.start}" type="hidden"/>
                                <input th:name="end" th:value="${shift.end}" type="hidden"/>
                                <input th:name="employee.id" th:value="${shift.employee.id}" type="hidden"/>
                                <input th:name="employee.role" th:value="${shift.employee.toString()}" type="hidden"/>
                                <input th:name="employee.name" th:value="${shift.employee.name}" type="hidden"/>
                                <input th:name="employee.surname" th:value="${shift.employee.surname}" type="hidden"/>
                                <input th:name="employee.cinema.id" th:value="${shift.employee.cinema.id}" type="hidden"/>
                                <input th:name="employee.cinema.name" th:value="${shift.employee.cinema.name}" type="hidden"/>
                                <div class="row" th:if="${shift.employee.toString() == 'projectionist'}">
                                    <input th:name="hall.id" th:value="${shift.hallDto.id}" type="hidden"/>
                                     <input th:name="hall.name" th:value="${shift.hallDto.name}" type="hidden"/>
                                </div>
                                <input class="btn btn-outline-primary" th:value="${shift.start + ' - ' + shift.end}" type="submit" value="start - end"/>
                         </form>
                        </span>
                    </span>
                </td>
                <td>
                    <span th:each="shift,indexShift : ${employee.value}">
                        <span th:if=${shift.date.dayOfWeek.toString.equals("SUNDAY")}>
                        <form action="shift_detail.html" method="POST" th:action="@{/shift_detail}"
                              th:object="${selectedShift}">
                                <input th:name="shiftId" th:value="${shift.id}" type="hidden"/>
                                <input th:name="date" th:value="${shift.date}" type="hidden"/>
                                <input th:name="start" th:value="${shift.start}" type="hidden"/>
                                <input th:name="end" th:value="${shift.end}" type="hidden"/>
                                <input th:name="employee.id" th:value="${shift.employee.id}" type="hidden"/>
                                <input th:name="employee.role" th:value="${shift.employee.toString()}" type="hidden"/>
                                <input th:name="employee.name" th:value="${shift.employee.name}" type="hidden"/>
                                <input th:name="employee.surname" th:value="${shift.employee.surname}" type="hidden"/>
                                <input th:name="employee.cinema.id" th:value="${shift.employee.cinema.id}" type="hidden"/>
                                <input th:name="employee.cinema.name" th:value="${shift.employee.cinema.name}" type="hidden"/>
                                <div class="row" th:if="${shift.employee.toString() == 'projectionist'}">
                                    <input th:name="hall.id" th:value="${shift.hallDto.id}" type="hidden"/>
                                     <input th:name="hall.name" th:value="${shift.hallDto.name}" type="hidden"/>
                                </div>
                                <input class="btn btn-outline-primary" th:value="${shift.start + ' - ' + shift.end}" type="submit" value="start - end"/>
                         </form>
                        </span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${cinemaSelected}">
            <br/>


            <form action="/assign_projectionist_shift" method="get">
                <input name="idCinema" th:value="${idCinema}" type="hidden"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Assign New Projectionist Shift
                </button>
            </form>

            <br/>

            <form action="/assign_repeated_projectionist_shift" method="get">
                <input name="idCinema" th:value="${idCinema}" type="hidden"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Assign New Repeated Projectionist
                    Shift
                </button>
            </form>

            <br/>

            <form action="/assign_usher_shift" method="get">
                <input name="idCinema" th:value="${idCinema}" type="hidden"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Assign New Usher Shift</button>
            </form>

            <br/>

            <form action="/assign_repeated_usher_shift" method="get">
                <input name="idCinema" th:value="${idCinema}" type="hidden"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Assign New Repeated Usher Shift
                </button>
            </form>

            <br/>

            <br/>
        </div>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    </div>
</div>

</body>

</html>