<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Manage Employee Shift</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container justify-content-center">
    <div class="row row text-uppercase">
        <div class="col-md-12 text-center mt-3">
            <h2>Show Shift</h2>
        </div>
        <body data-new-gr-c-s-check-loaded="8.868.0" data-gr-ext-installed="">
        <div class="row justify-content-center">
            <div class="bg-white col-md-8 order-md-1 text-body">

                <form action="#" th:action="@{/manage_employee_shift}" th:object="${getShiftListRequest}" method="POST">
                    <label>Select Cinema</label>
                    <select th:field="*{cinemaId}">
                        <option th:each="cinema : ${cinemaList}"
                                th:value="${cinema.id}"
                                th:text="${cinema.name}"></option>
                    </select>
                    <br/>
                    <label>Date</label>
                    <input type="date" id="date" th:value="${date}" th:field="*{start}"/>
                    <br/>
                    <button type="submit">Search</button>
                </form>
                <hr class="mb-4">
                <thead>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col">Employee</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee, indexEmployee : ${shiftList}">
                        <td th:text="${indexEmployee.index}+')'+ ${employee.key.name} + ' ' + ${employee.key.surname}"></td>

                        <td>
                            <span th:each="shift,indexShift : ${employee.value}">
                                <span th:if=${shift.date.dayOfWeek.toString.equals("MONDAY")}>
                                    <a th:href="@{|/shift_detail/${indexEmployee.index}/${indexShift.index}|}">
                                        <Button th:text="${shift.start} + '-' + ${shift.end} "
                                                th:value="${shift}" type="button" class="btn btn-outline-info"></Button>
                                    </a>
                                </span>
                            </span>

                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#assignShift">+
                            </button>
                        </td>


                        <td>
                            <span th:each="shift,indexShift : ${employee.value}">
                                <span th:if=${shift.date.dayOfWeek.toString.equals("TUESDAY")}>
                                    <a th:href="@{|/shift_detail/${indexEmployee.index}/${indexShift.index}|}">
                                        <Button th:text="${shift.start} + '-' + ${shift.end} "
                                                th:value="${shift}" type="button" class="btn btn-outline-info"></Button>
                                    </a>
                                </span>
                            </span>

                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#assignShift">+
                            </button>
                        </td>

                        <td>
                            <span th:each="shift,indexShift : ${employee.value}">
                                <span th:if=${shift.date.dayOfWeek.toString.equals("WEDNESDAY")}>
                                    <a th:href="@{|/shift_detail/${indexEmployee.index}/${indexShift.index}|}">
                                        <Button th:text="${shift.start} + '-' + ${shift.end} "
                                                th:value="${shift}" type="button" class="btn btn-outline-info"></Button>
                                    </a>
                                </span>
                            </span>

                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#assignShift">+
                            </button>
                        </td>

                        <td>
                            <span th:each="shift,indexShift : ${employee.value}">
                                <span th:if=${shift.date.dayOfWeek.toString.equals("THURSDAY")}>
                                    <a th:href="@{|/shift_detail/${indexEmployee.index}/${indexShift.index}|}">
                                        <Button th:text="${shift.start} + '-' + ${shift.end} "
                                                th:value="${shift}" type="button" class="btn btn-outline-info"></Button>
                                    </a>
                                </span>
                            </span>

                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#assignShift">+
                            </button>
                        </td>


                        <td>
                            <span th:each="shift,indexShift : ${employee.value}">
                                <span th:if=${shift.date.dayOfWeek.toString.equals("FRIDAY")}>
                                    <a th:href="@{|/shift_detail/${indexEmployee.index}/${indexShift.index}|}">
                                        <Button th:text="${shift.start} + '-' + ${shift.end} "
                                                th:value="${shift}" type="button" class="btn btn-outline-info"></Button>
                                    </a>
                                </span>
                            </span>

                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#assignShift">+
                            </button>
                        </td>


                        <td>
                            <span th:each="shift,indexShift : ${employee.value}">
                                <span th:if=${shift.date.dayOfWeek.toString.equals("SATURDAY")}>
                                    <a th:href="@{|/shift_detail/${indexEmployee.index}/${indexShift.index}|}">
                                        <Button th:text="${shift.start} + '-' + ${shift.end} "
                                                th:value="${shift}" type="button" class="btn btn-outline-info"></Button>
                                    </a>
                                </span>
                            </span>

                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#assignShift">+
                            </button>
                        </td>
                        <td>
                            <span th:each="shift,indexShift : ${employee.value}">
                                <span th:if=${shift.date.dayOfWeek.toString.equals("SUNDAY")}>
                                    <a th:href="@{|/shift_detail/${indexEmployee.index}/${indexShift.index}|}">
                                        <Button th:text="${shift.start} + '-' + ${shift.end} "
                                                th:value="${shift}" type="button" class="btn btn-outline-info"></Button>
                                    </a>
                                </span>
                             </span>
                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#assignShift">+
                            </button>
                        </td>


                    </tr>
                    </tbody>

                </table>

                <div class="modal it-dialog-scrollable fade" tabindex="-1" role="dialog" id="assignShift">
                    <div class="modal-dialog modal-dialog-right" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Assign Shift</h5>
                            </div>
                            <div class="modal-body">

                                <form>

                                    <div class="form-group row">
                                        <div class="col-md-3 mb-3">
                                            <label for="start_time">Start Shift</label>
                                            <input type="time" class="form-control" id="start_time"
                                                   aria-describedby="inputGroupPrepend2" required>

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3 mb-3">
                                            <label for="end_time">End Shift</label>
                                            <input type="time" class="form-control" id="end_time" required>
                                        </div>
                                    </div>

                                    <label class="my-1 mr-2" for="hallComboBox">Select Hall</label>
                                    <select class="custom-select my-1 mr-sm-2" id="hallComboBox">
                                        <option selected>1</option>
                                        <option value="1">2</option>
                                        <option value="2">3</option>
                                    </select>

                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="repeateCheckBox">
                                                <label class="form-check-label" for="repeateCheckBox">
                                                    Repeate Shift
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <label class="my-1 mr-2" for="repeateComboBox">Preference</label>
                                    <select class="custom-select my-1 mr-sm-2" id="repeateComboBox">
                                        <option selected>Every day</option>
                                        <option value="1">Every Week</option>
                                        <option value="2">Every Month</option>
                                    </select>

                                    <label class="my-1 mr-2" for="repeateDate">to</label>
                                    <input type="date" id="repeateDate">

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary">Save Shift</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal it-dialog-scrollable fade" tabindex="-1" role="dialog" id="modifyShift">
                    <div class="modal-dialog modal-dialog-right" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modify Shift</h5>
                            </div>
                            <div class="modal-body">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm"> Name</div>
                                        <div class="col-sm"> Pippo</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"> Surname</div>
                                        <div class="col-sm"> Pluto</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"> Role</div>
                                        <div class="col-sm"> Usher</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"> Date</div>
                                        <input type="date" id="modifyDate">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"> Start Time</div>
                                        <input type="time" id="modifyStartTime" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"> End Time</div>
                                        <input type="time" id="modifyEndTime" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"> Cinema</div>
                                        <div class="col-sm"> Comunale</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"> Hall</div>
                                        <select id="modifyHallComboBox">
                                            <option selected>1</option>
                                            <option value="1">2</option>
                                            <option value="2">3</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">
                                    Close
                                </button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Modify Shift</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        </body>
    </div>
</div>
</body>
</html>