<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View personal schedule</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/schedule.css" rel="stylesheet" th:href="@{/css/schedule.css}" type="text/css">
    <script type="text/javascript" src="../static/js/utilities.js" th:src="@{/js/utilities.js}"></script>
</head>
<body>
<div class="container p-4">
    <div class="pt-4 pb-4" align="center">
        <input class="m-3" id="date-picker" type="date" th:value="${date}"
               onchange="window.location.href = '?date=' + document.getElementById('date-picker').value;">
        <input class="btn btn-primary m-3" type="button" value="TODAY"
               onclick="window.location.href = '?date=' + getTodayDate();">
    </div>
    <div class="row">
        <div class="col calendar-label">
            Monday
        </div>
        <div class="col calendar-label">
            Tuesday
        </div>
        <div class="col calendar-label">
            Wednesday
        </div>
        <div class="col calendar-label">
            Thursday
        </div>
        <div class="col calendar-label">
            Friday
        </div>
        <div class="col calendar-label">
            Saturday
        </div>
        <div class="col calendar-label">
            Sunday
        </div>
        <th:block th:each="day,iter : ${calendarDayList}">
            <div th:if="${iter.index % 7 == 0}" class="w-100"></div>
            <div class="col calendar-day">
                <p th:text="${day.day}"> Date </p>
                <th:block th:each="shift : ${day.shiftList}">
                    <form action="schedule_detail.html" th:action="@{/schedule/detail}" method="POST"
                          th:object="${selectedShift}">
                        <input type="hidden" th:name="id" th:value="${shift.id}"/>
                        <input type="hidden" th:name="date" th:value="${shift.date}"/>
                        <input type="hidden" th:name="start" th:value="${shift.start}"/>
                        <input type="hidden" th:name="end" th:value="${shift.end}"/>
                        <input type="hidden" th:name="employee.role" th:value="${shift.employee.toString()}"/>
                        <input type="hidden" th:name="employee.cinema.address"
                               th:value="${shift.employee.cinema.address}"/>
                        <input type="hidden" th:name="employee.cinema.city" th:value="${shift.employee.cinema.city}"/>
                        <input class="btn btn-outline-primary" type="submit" value="start - end"
                               th:value="${shift.start + ' - ' + shift.end}"/>
                    </form>
                </th:block>
            </div>
        </th:block>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
