<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Shift Detail</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="background-color: black">
<h1 align="center">Shift Detail</h1>

<br/>
<!--<div class="container" th:value="${employee} + ${shiftDetail} + ${projection}">-->
<div class="container"}>
    <div class="row">
        <div class="col-sm"> Name</div>
        <div class="col-sm" th:text="${shiftDetail.employee.name}"> Pippo</div>
    </div>
    <div class="row">
        <div class="col-sm"> Surname</div>
        <div class="col-sm" th:text="${shiftDetail.employee.surname}"> Pluto</div>
    </div>

    <div class="row">
        <div class="col-sm"> Role</div>
        <div class="col-sm" th:if="${shiftDetail.employee.role == 'usher'}">Usher</div>
        <!-- ELSE -->
        <div class="col-sm" th:unless="${shiftDetail.employee.role == 'usher'}">Projectionist</div>
    </div>

    <div class="row">
        <div class="col-sm"> Date</div>
        <div class="col-sm" id="day" th:text="${shiftDetail.date}"></div>
    </div>
    <div class="row">
        <div class="col-sm"> Start Time</div>
        <div class="col-sm" th:text="${shiftDetail.start}"> 11:00</div>
    </div>
    <div class="row">
        <div class="col-sm"> End Time</div>
        <div class="col-sm" th:text="${shiftDetail.end}"> 18:00</div>
    </div>
    <div class="row">
        <div class="col-sm"> Cinema</div>
        <div class="col-sm" th:text="${shiftDetail.employee.cinema.name}"> </div>
    </div>
    <div class="row" th:if="${shiftDetail.employee.role == 'projectionist'}">
        <div class="col-sm"> Hall</div>
        <div class="col-sm" th:text="${shiftDetail.hall.name}"> 1</div>
    </div>


    <div th:if="${error}">
        <h1 align="center" th:text="${errorText}"></h1>
    </div>

    <a href="/manage_employee_shift">
        <button class="btn btn-outline-primary btn-sm" type="button">
            Close
        </button>
    </a>
    <div th:if="${data.isAfter({now.minusDays(1)})}" th:value="${now} + ${data}">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3"></div>
                <div class="col-6 col-sm-3">
                    <button class="btn btn-warning" data-target="#modifyShift" data-toggle="modal" type="button">Modify
                        Shift
                    </button>
                </div>
                <div class="col-6 col-sm-3">
                    <form action="/delete_shift" method="get">
                        <input th:name="shiftId" th:value="${shiftDetail.shiftId}" type="hidden"/>
                        <button class="btn btn-danger"
                                type="submit">Delete Shift
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal it-dialog-scrollable fade" id="modifyShift" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify Shift</h5>
            </div>
            <div class="modal-body">
                <form action="#" method="post" th:object="${modifyRequest} " >
                    <div class="container">
                        <div class="row">
                            <div class="col-sm"> Name</div>
                            <div class="col-sm" th:text="${shiftDetail.employee.name}"> Pippo</div>
                        </div>
                        <div class="row">
                            <div class="col-sm"> Surname</div>
                            <div class="col-sm" th:text="${shiftDetail.employee.surname}"> Pluto</div>
                        </div>

                        <div class="row">
                            <div class="col-sm"> Role</div>
                            <div class="col-sm" th:if="${shiftDetail.employee.role == 'usher'}">Usher</div>
                            <div class="col-sm" th:unless="${shiftDetail.employee.role == 'usher'}">Projectionist</div>
                        </div>

                        <div class="row">
                            <div class="col-sm"> Date</div>
                            <input id="modifyDate" required th:attr="min=${now}" th:field="*{date}"
                                   th:text="${shiftDetail.date}" th:value="${date}" type="date">
                        </div>
                        <div class="row">
                            <div class="col-sm"> Start Time</div>
                            <input id="modifyStartTime" required th:field="*{start}" th:text="${shiftDetail.start}"
                                   th:value="${start}" type="time">
                        </div>
                        <div class=" row">
                            <div class="col-sm"> End Time</div>
                            <input id="modifyEndTime" required th:field="*{end}" th:text="${shiftDetail.end}"
                                   th:value="${end}" type="time">
                        </div>
                        <div class=" row">
                            <div class="col-sm"> Cinema</div>
                            <div class="col-sm" th:text="${shiftDetail.employee.cinema.name}"></div>
                        </div>
                        <div class="row" th:if="${shiftDetail.employee.role == 'projectionist'}">
                            <div class="col-sm"> Hall</div>
                            <select id="modifyHallComboBox" th:field="*{hall.id}" th:value="${hall}">
                                <option th:each="hall : ${hallList}"
                                        th:text="${hall.name}"
                                        th:value="${hall.id}">1
                                </option>
                            </select>
                        </div>
                    </div>

                    <input th:name="shiftId" th:value="${shiftDetail.shiftId}" type="hidden"/>
                    <input th:name="employee.id" th:value="${shiftDetail.employee.id}" type="hidden"/>
                    <input th:name="employee.role" th:value="${shiftDetail.employee.toString()}" type="hidden"/>
                    <input th:name="employee.name" th:value="${shiftDetail.employee.name}" type="hidden"/>
                    <input th:name="employee.surname" th:value="${shiftDetail.employee.surname}" type="hidden"/>
                    <input th:name="employee.cinema.id" th:value="${shiftDetail.employee.cinema.id}" type="hidden"/>
                    <input th:name="employee.cinema.name" th:value="${shiftDetail.employee.cinema.name}" type="hidden"/>
                    <input th:name="change" th:value="true" type="hidden"/>

                    <br/>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Modify Shift</button>
                        <button class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" type="button">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>