<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Shift Detail</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1 align="center">Shift Detail</h1>

<br/>
<div class="container" th:value="${employee} + ${shiftDetail} + ${projection}">
    <div class="row">
        <div class="col-sm"> Name</div>
        <div class="col-sm" th:text="${employee.name}"> Pippo</div>
    </div>
    <div class="row">
        <div class="col-sm"> Surname</div>
        <div class="col-sm" th:text="${employee.surname}"> Pluto</div>
    </div>

    <div class="row">
        <div class="col-sm"> Role</div>
        <div class="col-sm" th:if="${projection}">Projectionist</div>
        <!-- ELSE -->
        <div class="col-sm" th:unless="${projection}">Usher</div>
    </div>

    <div class="row">
        <div class="col-sm"> Date</div>
        <div class="col-sm" th:text="${shiftDetail.date}" id="day"></div>
    </div>
    <div class="row">
        <div class="col-sm"> Start Time</div>
        <div class="col-sm" th:text="${shiftDetail.start}"> 11:00</div>
    </div>
    <div class="row">
        <div class="col-sm"> End Time</div>
        <div class="col-sm" th:text="${shiftDetail.end}"> 18:00</div>
    </div>
    <div class="row">
        <div class="col-sm"> Cinema</div>
        <div class="col-sm" th:text="${employee.cinema.name}"> Comunale</div>
    </div>
    <div class="row" th:if="${projection}">
        <div class="col-sm"> Hall</div>
        <div class="col-sm" th:text="${shiftDetail.hallDto.id}"> 1</div>
    </div>


    <div th:if="${error}">
        <h1 align="center" th:text="${errorText}"></h1>
    </div>

    <div>
        <a href="/manage_employee_shift">
            <button class="btn btn-outline-primary btn-sm" type="button">
                Close
            </button>
        </a>
        <div th:if="${shiftDetail.date.isAfter({now})}" th:value="${now}">
            <button class="btn btn-warning" data-target="#modifyShift" data-toggle="modal" type="button">Modify changes
            </button>

            <a href="/delete_shift">
                <button class="btn btn-danger" type="button">Delete Shift</button>
            </a>
        </div>
    </div>
</div>
<div class="modal it-dialog-scrollable fade" id="modifyShift" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify Shift</h5>
            </div>
            <div class="modal-body">
                <form action="#" method="post" th:action="@{/shift_detail}" th:object="${modifyRequest}">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm"> Name</div>
                            <div class="col-sm" th:text="${employee.name}"> Pippo</div>
                        </div>
                        <div class="row">
                            <div class="col-sm"> Surname</div>
                            <div class="col-sm" th:text="${employee.surname}"> Pluto</div>
                        </div>

                        <div class="row">
                            <div class="col-sm"> Role</div>
                            <div class="col-sm" th:if="${projection}">Projectionist</div>
                            <!-- ELSE -->
                            <div class="col-sm" th:unless="${projection}">Usher</div>
                        </div>

                        <div class="row">
                            <div class="col-sm"> Date</div>
                            <input id="modifyDate" required th:attr="min=${now}" th:field="*{date}"
                                   th:text="${shiftDetail.date}" th:value="${date}" type="date">
                        </div>
                        <div class="row">
                            <div class="col-sm"> Start Time</div>
                            <input id="modifyStartTime" required th:field="*{start}" th:text="${shiftDetail.start}"
                                   th:value="${start}" type="time">
                        </div>
                        <div class=" row">
                            <div class="col-sm"> End Time</div>
                            <input id="modifyEndTime" required th:field="*{end}" th:text="${shiftDetail.end}"
                                   th:value="${end}" type="time">
                        </div>
                        <div class=" row">
                            <div class="col-sm"> Cinema</div>
                            <div class="col-sm" th:text="${employee.cinema.name}"></div>
                        </div>
                        <div class="row" th:if="${projection}">
                            <div class="col-sm"> Hall</div>
                            <select id="modifyHallComboBox" th:field="*{hallId}" th:value="${hall}">
                                <option th:each="hall : ${hallList}"
                                        th:text="${hall.id}"
                                        th:value="${hall.id}">1
                                </option>
                            </select>
                        </div>
                    </div>

                    <br/>
                    <div class="modal-footer">

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Modify
                            Shift
                        </button>

                        <button class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" type="button">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>